   
      
        .flexcontainer{
            flex-wrap: wrap;
            gap:10px;
            display: inline-block;

            /*gives gap btw column gap 
            and top row */
            /* 
            column-gap: 20px;
            row-gap:20px;
             */


            display: flex;
            flex-direction: row;

           justify-content: space-between; 
        }
      
        
        .flex1{
            width:200px;
            height:50px;
            border: 1px solid black;
            padding:5px;
             }

        .flex2{
            width:200px;
            height:50px;
            font-weight: bold;
            font-size: 20px;
         
            justify-content: center;
            text-align: center;
        }

        .flex3{
            width:150px;
            height:50px;
       
            justify-content: right;
        
        }
        .flex4{
            width:100px;
            height:50px;
            background-color: black;
        }

        h6{
            text-align: center;
        }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Times New Roman', Times, serif;
  min-height: 100vh;
  max-width: 100vw;
  line-height: 1.4;
  padding: 20px 40px;
}

.container {
  max-width: 1200px;
  gap:2px;
}

.heading-1 {
  font-size: 40px;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  text-indent: 50px;

}

.heading-3 {
  font-size: 30px;
  text-align: center;

  text-indent: 5px;

  
}

.sub-heading {
  font-size: 20px;
  display: flex;
  align-items: center;
  /* margin-bottom: 30px; */
  border-bottom: 1px solid #ccc;
  /* padding-bottom: 10px; */
}



/* HOME */
.home {
  flex-direction: column;

  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 10px;
}

.home-img {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  
}


/* ARTICLE */
article > p {
  font-size: 20px;
  margin-bottom: 20px;

  columns: 3 25ch;
  column-gap: 40px;
  hyphens: auto;
}

article p:first-child::first-line {
  font-weight: 700;
  font-size: 25px;
}


hr{
  width:70%;
  margin:auto;
 
}



    /*
    900px in total

    */
    .left{
        width:950px;
        flex-direction: column;
        display: flex;

    }

    .right{
        width:400px;
        display: flex;
        flex-direction: column;
        
    }

    .leftmost{
      flex-direction: column;
      display: flex;
      width:25%;
    }

    .leftmost > p{
      font-size: 13px;
    }


    * > p{
      text-align: justify;
      /* flex-wrap: wrap; */
      display: flex;
      overflow-wrap: break-word;

    }

/* If the screen size is 601px wide or more, s*/
@media screen and (min-width: 601px) {
  p {
    font-size: 16px;
  }
}

/* If the screen size is 600px wide or less, */
@media screen and (max-width: 600px) {
  p {
    font-size: 10px;
    flex-wrap: wrap;
      /* display: flex; */
   overflow-wrap: break-word;
  }
}

