/*google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Mukta:wght@300&family=Playfair+Display:ital@1&family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400&display=swap'); 

section{
    background-image: url('https://images.pexels.com/photos/1086584/pexels-photo-1086584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}


label{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

#form{
    padding:5px; border-radius: 3px; box-shadow: 5px 5px;
    opacity: 0.8;
}



.hov:hover a{
    color:rgba(121,126,246,0.9);
} 

.text:hover a{
    color:magenta;
}

.input-box button:hover{
    background-color: white;
}


.input-box button{
    box-shadow: 2px 2px;
    border-radius: 5px;
}


section{
    position:relative;
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-image: ('https://images.pexels.com/photos/1086584/pexels-photo-1086584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */

    background-size:cover;
    background-position:center;
}

header{
    position:relative;
    top:0;
    width:100%;
    padding:30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    postion:relative;
    color:white;
    font-size:30px;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    /* color: rgba(121,126,246,0.7);
    text-transform: uppercase;
    background-color: rgba(121,126,246,0.1);
    text-decoration: none;
    font-weight: 1px;

    letter-spacing: 2px;
    font-weight: 900; */
    background-color: rgba(121,126,246,0.1);
    color: #551A8B;

    padding:5px 5px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    height:3px;
    font-size:19px;
  

}


header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background:lightgrey;
   
}
.content{
    max-width: 650px;
    margin: 50px 100px;
}

.content .info h2{
   color:pink;
   font-size:55px;
   text-transform:uppercase;
   font-weight:800;
   letter-spacing: 2px;
   line-height: 60px;
   margin-bottom: 30px;
   border-radius: 5px;
}

.content .info h2 span{
    color:magenta;
    font-size:50px;
    font-weight:600;
}

.content .info p{
    font-weight: 100;
}

.content .info-btn{
    /* background:transparent; */
    background-color: rgba(121,126,246,0.1);
    padding:10px 10px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 900;
    transition-property: background;
}

.content .info-btn:hover{
    background-color: rgba(121,126,246,0.9);
}

.media-icons a{
    color:blue;
    position:relative;

    /*to make icons zoom when you hover over it */
    transition:0.3s;
    transition-property: transform;
   
}

.media-icons a:hover{
    transform: scale(1.5);
}
   /*the transform property css ends here */
.media-icons{
    display:flex;
    font-size:25px;
}

/*this code is for adding text over video */
.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}


/*chatbox */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background-image: url('https://images.pexels.com/photos/1086584/pexels-photo-1086584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: repeat;
    background-size: cover; 
}

.wrapper {
    width: 270px;
    margin-left: 1000px;
   margin-bottom: -150px;
   position: fixed;
    
}

.wrapper .title {
    background: #007bff;
    color: white;
    line-height: 2.5;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 20px;
}

.wrapper .box {
    border: 1px solid #efefef;
    padding: 10px 15px;
    min-height: 400px;
    max-height: 400px;
}

.wrapper .box .item {
    display: flex;
    float: left;
    margin: 10px 0;
}

.wrapper .box .item .icon {
    background: #007bff;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.wrapper .box .item .msg {
    background: #007bff;
    color: white;
    border-radius: 10px;
    width: 150px;
    margin-left: 10px;
}

.wrapper .box .item .msg p {
    padding: 10px;
}

.wrapper .box .item.right {
    float: right;
}

.wrapper .box .item.right .msg {
    background: #efefef;
    color: #333;
}

.wrapper .typing-area {
    width: 100%;
    background: #efefef;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper .typing-area .input-field {
    width: 100%;
    position: relative;
}

.wrapper .typing-area .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    padding-right: 70px;
    font-family: sans-serif;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field input:focus {
    border-color: #007bff;
}

.wrapper .typing-area .input-field button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 3px;
    color: #007bff;
    outline: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field button:hover {
    background: #007bff;
    color: white;
}

.wrapper .typing-area .input-field input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}

