.red-text{
    color:red;

}

.blue-text{
    color:#0000FF;

}

.green-text{
    color:rgba(0,225,0, 1);
}

.big-text{
    font-size: 500%;
}

.small-text{
    font-size: 70%;
}

.light-text{
    font-weight: light;

}

.capital-text{
    text-transform: uppercase;

}

input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1{
    font-weight: 200;
}

body{
    background-color: rgb(169, 179, 182);
}

button{
    margin-top:20px;
}




